/********** Template CSS **********/
:root {
    --primary: #FFCA00;
    --light: #F0FBFC;
    --dark: #181d38;
}

.bg-primary {
    background-color: #FFCA00 !important;
    color: black;
}
.text-primary {
    color: #FFCA00!important;
}
a {
    color:  #FFCA00;
    text-decoration: none;
}
.logo {
    height: 70px;

}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: rgb(255, 255, 255) !important;
    background-color: #FFCA00;
    border: none;


}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    background-color: #FFCA00;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}


.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.owl-nav {
    display: none;
}

.bartender-container {
    height: 70vh;
    width: 100vw;
    background-image: url(./assets/batendorbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;

}

.bartender-overlap {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.623);

}

.bartender-container h1 {
    font-size: 45px;
    letter-spacing: .6px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    margin-top: 200px;
    color: black;

}

.bartender-container p {
    font-size: 25px;
    letter-spacing: .5px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
}

.bartender-popular-courses {
    /* height: 350vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

}

.bartender-popular-courses h1 {
    font-size: 45px;
    letter-spacing: .6px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    margin-top: 80px;
    color: black;

}

.bartender-popular-courses p {
    font-size: 25px;
    letter-spacing: .6px;
    font-weight: 300;
    /* font-family: "Source Sans Pro", sans-serif; */
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    color: black;

}

.bartender-internationcourses {

    width: 80%;
    background-color: #F0FBFC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    /* color: white; */
    color: black;

    padding: 50px;
    margin-top: 20px;
}

.bartender-internationcourses h1 {
    font-size: 30px;
    letter-spacing: .6px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;

    margin-top: 1px !important;
    color: black;


}

.bartender-internationcourses p {
    font-size: 18px;
    letter-spacing: .6px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    color: black;



}

.bartender-internationcourses-list {
    /* height: 200px;
    width: 80vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    /* align-items: center; */


}

.bartender-internationcourses-list ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bartender-internationcourses-list ul li {
    font-size: 18px;
    letter-spacing: .6px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bartender-internationcourses-description {
    height: 200px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin-top: 20px;


}

.bartender-internationcourses-description-duration {
    width: 50%;
    font-size: 18px;
    letter-spacing: .6px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    color: black;

}

.bartender-internationcourses-description-button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bartender-internationcourses-description-button button {
    height: 60px;
    width: 300px;
    background-color: #FFCA00;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    color: black;

    margin-bottom: 70px;
    margin-left: 100px;
}


.bartender-advancecourses {
    height: 220vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;


}


.bartender-advancecourses h1 {
    font-size: 30px;
    letter-spacing: .6px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    margin-top: 50px;
}

.bartender-advancecourses p {
    font-size: 18px;
    letter-spacing: .6px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    /* color: #B89B98; */
    color: black;

}

.bartender-advancecourses-cards {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

}

.bartender-advancecourses-card {
    height: 380px;
    width: 320px;
    background-color: #F0FBFC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: start;
    padding: 25px;
    margin-top: 50px;
    border-radius: 10px;
}

.bartender-advancecourses-card h1 {
    font-size: 30px;
    letter-spacing: .6px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;

    color: black;
    margin-top: 0px;

}

.bartender-advancecourses-card h3 {
    font-size: 18px;
    letter-spacing: .6px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    color: black;

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.bartender-advancecourses-card p {
    font-size: 18px;
    letter-spacing: .6px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    color: black;




}

.bartender-advancecourses-card button {
    height: 40px;
    width: 300px;
    background-color: #FFCA00;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: black;

    margin-top: 50px;

}

.tdc-teams {
    display: flex;
    flex-direction: row;
}

.tdc-teams-left {
    width: 40%;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tdc-teams-right {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
}

.tdc-teams-left img {
    width: 60%;
}

.gallery {
    column-count: 4;
    --webkit-column-count: 4;
    --moz-column-count: 4;
    gap: 1rem;
    padding: 4rem;
}

.image img {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
    .gallery {
        column-count: 3;
        --webkit-column-count: 3;
        --moz-column-count: 3;
    }
}

@media screen and (max-width: 500px) {
    .gallery {
        column-count: 2;
        --webkit-column-count: 2;
        --moz-column-count: 2;
    }
}

@media screen and (max-width: 400px) {
    .gallery {
        column-count: 1;
        --webkit-column-count: 1;
        --moz-column-count: 1;
    }
}

.tdc-teams-right h4 {
    color: rgb(154, 154, 154);
    font-size: 17px;
}




.TDC-container-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;

}

.TDC-container-card {
    width: 25%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    background-color: #F0FBFC;
    border-radius: 10px;
}

.TDC-container-card-img {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
  

}

.TDC-container-card-img img {
    width: 100%;
    /* min-height: 300px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: .5s;
}
.TDC-container-card-img img:hover{
    transform: scale(1.1);
}



.TDC-container-card-text {
    padding-left: 20px;
    padding-right: 20px;
}

.TDC-container-card-text h1 {
    font-size: 1.75rem;

    
    font-weight: 700;
    text-align: center;
}
.TDC-container-card-text-borderline{
    width: 100%;
    height: 1px;
    background-color: rgb(213, 211, 211);
    margin-bottom: 10px;
}
.TDC-container-card-text ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;



}

.TDC-container-card-text-li {
    list-style: none;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 7px;


}

.TDC-container-card-text-li span {
    font-size: 1.2rem;
 
}
.special-card{
    width: 40%;

}
.special-card img{
    width: 100%;
}
.special-card h1{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.special-cources{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    padding: 50px;
}